  
    body{
         margin:0;
        display:flex;
        align-items:center;
        justify-content:center;
        height:100vh;
        background: #191811;
    }
    .calculator{
        background: #191811;
        border: none;
        height:420px;
        width:200px;
        padding:20px;
        border-radius:20px;
        box-shadow: -10px 10px 20px rgba(10, 10, 7, 0.2), 10px -10px 20px rgba(10, 10, 7, 0.2), -10px -10px 20px rgba(40, 38, 27, 0.9), 10px 10px 25px rgba(10, 10, 7, 0.9), inset 1px 1px 2px rgba(40, 38, 27, 0.3), inset -1px -1px 2px rgba(10, 10, 7, 0.5);
    }
    
    input{
        margin-left:5px;
        height:40px;
        border-radius:40px;
        width:40px;
        font-size: 20px;
        border: none;
        color: #F8F8F8;
        background: #191811;
        box-shadow: -5px 5px 10px rgba(10, 10, 7, 0.2), 5px -5px 10px rgba(10, 10, 7, 0.2), -5px -5px 10px rgba(40, 38, 27, 0.9), 5px 5px 13px rgba(10, 10, 7, 0.9), inset 1px 1px 2px rgba(40, 38, 27, 0.3), inset -1px -1px 2px rgba(10, 10, 7, 0.5);
        transition: box-shadow 0.3s ease-in-out;
    }
    
    input:hover{
        box-shadow: 1px 1px 2px rgba(40, 38, 27, 0.3), -1px -1px 2px rgba(10, 10, 7, 0.5), inset -5px 5px 10px rgba(10, 10, 7, 0.2), inset 5px -5px 10px rgba(10, 10, 7, 0.2), inset -5px -5px 10px rgba(40, 38, 27, 0.9), inset 5px 5px 13px rgba(10, 10, 7, 0.9);
        transition: box-shadow 0.3s ease-in-out;
        font-size:19px;
    }
    
   #Rectangle_4{
        margin-top: 15px;
        height:60px;
        width:180px;
        font-size: 30px;
        background: #191811;
        border: none;
        box-shadow: 1px 1px 2px rgba(40, 38, 27, 0.3), -1px -1px 2px rgba(10, 10, 7, 0.5), inset -5px 5px 10px rgba(10, 10, 7, 0.2), inset 5px -5px 10px rgba(10, 10, 7, 0.2), inset -5px -5px 10px rgba(40, 38, 27, 0.9), inset 5px 5px 13px rgba(10, 10, 7, 0.9);
        border-radius: 20px;
    }
    #change{
        background: #FFAB08;
        color: #191811;
        font-size: 22px;
    }
    #change:hover{
         box-shadow: 1px 1px 2px rgba(255, 255, 13, 0.3), -1px -1px 2px rgba(98, 68, 3, 0.5), inset -5px 5px 10px rgba(98, 68, 3, 0.2), inset 5px -5px 10px rgba(98, 68, 3, 0.2), inset -5px -5px 10px rgba(255, 255, 13, 0.9), inset 5px 5px 13px rgba(98, 68, 3, 0.9);
         transition: box-shadow 0.3s ease-in-out;
    }
   #clear{
       height:30px;
       width:200px;
       margin-left: 2px;
       border: none;
       border-radius: 0%;
       font-size: 15px;
    }
    
    .row2 .row3{
        margin-top:20px;
    }